
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trazabilidad.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aquí se inyecta tu API Key correctamente -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsKey}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.trazabilidad.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NuevoPedidoActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ListaPedidosActivity" />
        <activity android:name=".activities.MapaActivity" />
        <activity android:name=".activities.ReporteActivity" />
        <activity android:name=".activities.IncidenciaActivity" />
        <activity android:name=".activities.PerfilActivity" />
        <activity android:name=".activities.IncidenciasListActivity" />

        <activity
            android:name=".activities.DetallePedidoActivity"
            android:label="@string/detalle_pedido"
            android:parentActivityName=".activities.ListaPedidosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaPedidosActivity" />
        </activity>

    </application>
</manifest>